mixin thumbnail-img(fileName, title, desc)
    a(href="assets/img/thumbnails/#{fileName}" target="_blank").hobby-thumb
        img(src="assets/img/thumbnails-small/#{fileName}" alt="#{title}")
        .hobby-meta
            .name #{title}
            .thumb-desc #{desc}

section.hobbies#hobbies
    .hobby-container.flex.flex--center

        .col-50
            .hobbies-wrap.flex
                +thumbnail-img('Alleppey_backwaters-Kerala.webp', 'Alappuzha Backwaters, Kerala, India', 'Dec 2019')
                +thumbnail-img('Cat_Ba-North_Vietnam6.webp', 'Cat Ba, Vietnam', 'Dec 2019')
                +thumbnail-img('Chennai-Tamil_Nadu.webp', 'Chennai, Tamil Nadu, India', 'Dec 2018')
                +thumbnail-img('Ha_Long_Bay-North_Vietnam3.webp', 'Ha Long Bay, Vietnam', 'Dec 2019')
                +thumbnail-img('Hanoi-North_Vietnam.webp', 'Hanoi, Vietnam', 'Dec 2019')
                
                a(href="https://www.youtube.com/" style="background-image: url(assets/img/youtube-bg.gif)" target="_blank" rel="external nofollow").youtube-thumb
                    i.fa-brands.fa-youtube
                a(href="https://adarshgupta.github.io/Redshift-calc/" target="_blank" rel="external nofollow").side-proj
                    img(src="assets/img/RedshiftCalc-sideproj.png" alt="Redshift Calculator - side project")
                    .hobby-meta
                        .name Redshift Calculator
                        .thumb-desc Side Project
                
                +thumbnail-img('Ho_Chi_Minh_City-South_Vietnam2.webp', 'Ho Chi Minh, Vietnam', 'Dec 2019')
                +thumbnail-img('Monkey_Island-CatBa2.webp', 'Monkey Island, Cat Ba, Vietnam', 'Dec 2019')

        .col-50.flex.flex--center.order-first.hobby-head
            .col-1
                .desc-wrap
                    p.home-lead I like to spend my leisure time exploring Youtube, daydreaming about travelling, landscape photography and learning random stuff.
                .social-links.flex.flex--center
                    a(href="https://github.com/AdarshGupta" target="_blank" title="GitHub" rel="external").icons
                        i.fa-brands.fa-github
                    a(href="https://www.instagram.com/adarsh035/" target="_blank" title="Instagram" rel="external").icons
                        i.fa-brands.fa-instagram
